# Master Postgres Configuration (Used only for first-time DB initialization)
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin_password_123
POSTGRES_DB=pg_db
# Database Routing Configuration
# Set to 'postgres_db' when running everything entirely inside Podman/Docker containers.
# Set to 'localhost' if you are running the FastAPI backend locally on your host machine.
POSTGRES_HOST=postgres_db
# This will be require if you connect to Neon in production
POSTGRES_SSLMODE=prefer

# Read-Only Credentials (Used by FastAPI backend)
POSTGRES_USER_READ=user_read
POSTGRES_PASSWORD_READ=user_read_password

# Write-Only Credentials (Used by ETL pipeline)
POSTGRES_USER_WRITE=user_write
POSTGRES_PASSWORD_WRITE=user_write_password

# Ports
DB_PORT=5432
API_PORT=8000

# Backend Security
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://127.0.0.1:3000,http://127.0.0.1:5173

# Frontend Environment Variables
VITE_API_URL=http://localhost:8000

# Google credentials service account json path location
GOOGLE_APPLICATION_CREDENTIALS=/home/user/.gcp/bqkey.json