pypimap.com {
    handle /package/* {
        reverse_proxy backend:8000
    }

    handle /sitemap*.xml {
        reverse_proxy backend:8000
    }

    handle /robots.txt {
        reverse_proxy backend:8000
    }

    handle /ai.txt {
        reverse_proxy backend:8000
    }

    handle /llms.txt {
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:3000
    }
}

api.pypimap.com {
    reverse_proxy backend:8000
}